certifi 
GitPython
gunicorn
Pillow
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
openvino
skia-python
scipy
pandas
PyYAML
Flask
Jinja2
Werkzeug
certifi
chardet
requests
libclang
numpy
packaging
tensorflow-io-gcs-filesystem
wincertstore
click
Flask-SQLAlchemy
Flask-WTF
itsdangerous
MarkupSafe
psycopg2
SQLAlchemy
Werkzeug
WTForms
